<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>post Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
 <div class="image">
　<div class="home_topic">
   <h1>お気に入りのカフェを投稿しよう</h1>
   <h2>
    自分のお気に入りのカフェを投稿で共有するアプリケーションです。<br>
    住所や営業時間はもちろん、Wi-Fiやクレジットカードの利用状況まで確認いただきます。
   </h2>
 </div>
 <div class="home_loginbutton">
  <%= link_to "サインアップ", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to 'テストログイン', test_login_path, class:"btn btn-lg btn-success" %>
 </div>
</div>
<% end %>


