<% if @likingfeed_items.any? %>
  <ol class="posts">

         <% @likingfeed_items.each do |like| %>
            <% post = Post.find_by(id: like.post_id) %>

  <li>

   <div class="Mypost_detail">


     <div class="post_image">
      <%= image_tag post.image, :size =>'100x100'%>
     </div>
     <div class="Mypost_content">
      <p>お店の名前：<%= post.store_name %></p>
      <p>住所：<%= post.address %></p>
      <p>営業時間：<%= post.time_start %>〜<%= post.time_end %></p>
     </div>
     <span class="timestamp">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
      <% if current_user?(post.user) %>
       <%= link_to "delete", post, method: :delete,
                                      data: { confirm: "本当に削除してもよろしいでしょうか。" } %>
      <% end %>
     </span>
    <% end %>

   </div>
  </li>


 </ol>
       <%= will_paginate @likingfeed_items, :param_name => 'likingfeed_items_page', class: "center" %>
<% end %>
