<% provide(:title, '投稿一覧画面') %>

<div class="row">
 <div class="col-md-1">
 </div>
<div class="col-md-10">
 <div class="Allpost">
  <% @posts.each do |post| %>
   <a href="/post/<%= post.id %>">
    <div class="Allpost_detail">
     <div class="post_image">
      <%= image_tag post.image, :size =>'130x130'%>
     </div>
     <div class="post_content">
      <p>お店の名前：<%= post.store_name %></p>
      <p>住所：<%= post.address %></p>
      <p>営業時間：<%= post.time_start %>〜<%= post.time_end %></p>
     </div>
    </div>
   </a>
  <% end %>

 </div>
   <%= will_paginate class: "center"%>
</div>
<div class="col-md-1">
</div>
</div>


